| <%= link_to('Home', root_path)  %> |
<%= link_to('New Post', new_post_path)  %> |
<%= link_to('All Posts', posts_path)  %> |
<%= link_to('My Posts', my_posts_posts_path, :method => :get)  %> |
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %> 


<h1>
  <%= @post.title %>
</h1>
  <%= @post.body %>
 <p> Rating:  <%= @avg_comments %>  </p>
<p>
  Submitted <%= time_ago_in_words(@post.created_at) %> Ago
</p>
 <p><%= image_tag @post.image.url(:medium) %></p>

<% if (can? :update, @post) or belongs_to_user %>
 <%= link_to 'Edit', edit_post_path(@post) %>
<% end %>
 
<% if (can? :destroy, @post) or belongs_to_user %> 
 <%= button_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<p>
  <%= @post.body %>
  
  <div>
    <h2><%= @post.comments.count %> Comments</h2>
    <%= render @post.comments %>
 
    <%= link_to "Add a comment", new_post_comment_path(@post) %>
    
  </div>
  

</p>